body { /* dark mode best mode */
    background-color:#232425;
}
.navbar-light .navbar-brand { /* Navigaton CHASE KUHN - COLOR */
    font-family: 'Raleway', 'Segoe UI';
    color: rgb(255, 74, 74);
    font-size: 30px;
    font-weight: 700;
}

.navbar-light .navbar-brand:hover{ /* Header "CHASE KUHN" hover color change */
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover { /* Navigation links hover effects */
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.63);
    transition: 0.2s;
}

.navbar-light .navbar-nav .nav-link { /* Home, About, Skills, etc... */
    font-family: 'Raleway', 'Segoe UI';
    color: rgb(255, 74, 74);
    font-size: 25px;
    
}

.bg-dark { /* Navigation bar color */
    background-color: #2e3033!important; 
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.83);

}

.navbar-light .navbar-toggler {
    border-color: rgb(255, 74, 74);
    border-radius: .45rem;
    border-width: 2px;
}

.masthead { /* Header Picture */
    height: 50vh;
    min-height: 500px;
    background-image: url('assets/reddust.jpg');
    color:white;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.83);
    
  }

  hr {
      background-color: white;
      margin-left: 12vw;
      margin-right: 12vw;
  }

  h1 {
    font-family: 'Raleway', 'Segoe UI';
    font-size: 75px;
  }

  .hello-text{
    margin-left: 6vw;
  }

  .body-items{
      margin-left: 7vw;
      margin-right: 7vw;
  }
  
  .font-weight-light { /* Name on picture "Chase Kuhn" */
      font-size: 120px;
      /*font-family: "Gloria Hallelujah", Raleway, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
      font-family: 'Raleway', 'Segoe UI';

  }

  .font-weight-light:hover{
      font-size: 120px;
      transition: 1s;
  }

  .lead { /* Second text "Software Developer" */
      font-size: 40px;
      font-family: 'Raleway', 'Segoe UI';
  }

  ul#horizontal li { /* centers */
    display:inline;
    margin: center;
}

ul { /* perfectly centers uls */
padding-inline-start: 0%;   
}

  .icons{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.507);
}
.skills{
  width: 70px;
  height: 70px;
}

.skill-text{
    color: rgb(255, 74, 74);
    border-style: solid;
    padding-left: 5px;
    padding-right: 5px;
    border-color: rgb(255, 74, 74);
    border-radius: 1px;
    border-width: 2px;
}

ul#skillsalign li { /* centers */
    padding: 30px;
    border: 40px;
    display:inline;
    margin-left: 20px;
    margin-right: 20px;
    margin: center;
}

.projects{
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 15px;
  padding: 3px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.507);
}

.projects:hover{
    opacity: 0.3;
    transition: 0.4s ease-out;
  }

html{ /* navigation links transition to anchor smoothly */
    scroll-behavior: smooth;
}


.icons:hover{ /* slight opacity added to links when hovered */
    opacity: 0.4;
}

.centerthedamnthing{ /* centers the damn thing */
    text-align: center;
}

  footer { /* footer props */
    position: bottom;
    height: 140px;
    padding-top: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2e3033;
    color: rgb(114, 114, 114);
    text-align: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,8);
 }

 .jumbotron-fluid{ /* bootstrap insert box */
    background-color: #2e3033;
    color: white;
    border: 10px;
    margin-bottom: 60px;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,5);
 }

 ::selection {
    background: #ff9f9f; /* WebKit/Blink Browsers */
  }
