/* ================================== HTML & Body ================================== */

/* Site background color */

body {
    background-image: linear-gradient(19deg, rgb(0, 94, 138) 0%, rgb(113, 222, 255) 80%);
    /* background-repeat: no-repeat; */
}

/* html/body properties */

html, body {
    margin-top: -30px;
    height: 100%;
    background-color: white;
    scroll-behavior: smooth;
    /* overflow: hidden; */
}

.content {
    width: 100%;
    background-color: white
}

.projects {
    margin: 0 5% 0 5%;
    text-align: center;
}

h1.project-text {
    font-size: 3em;
    background: -webkit-linear-gradient(19deg, rgb(0, 94, 138) 0%, rgb(113, 222, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Raleway', 'Segoe UI';
    font-weight: 800;
    text-align: center;
}

hr {
    border: 1;
    margin: 3em auto;
    max-width: 50%;
    border-width: 0 0 2px;
    color: rgb(235, 235, 235);
    border-style: solid;
    border-radius: 10px;
}

.card {
    border-radius: 5px;
    border: 0;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.507);
    background: -webkit-linear-gradient(19deg, rgb(0, 94, 138) 0%, rgb(113, 222, 255) 120%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    margin: 30px 0 0 30px;
}

.card-body {
    padding: 0px 12px 20px 12px;
    height: 10em;
}

.project-title {
    /* Project Titles */
    font-family: 'Raleway', 'Segoe UI';
    color: rgb(71, 71, 71);
    font-size: 25px;
    text-align: left;
}

.skill-text {
    /* Skills tag text */
    position: relative;
    background: transparent;
    font-size: 14px;
    border-color: rgb(49, 148, 194);
    -webkit-text-fill-color: rgb(49, 148, 194);
    border-style: solid;
    border-width: 1.4px;
    padding: 3px 15px;
    margin-bottom: 5px;
    display: inline-block;
    border-radius: 0.6em;
    text-transform: uppercase;
    text-decoration: none;
}

.svg-icons {
    color: rgb(49, 148, 194);
    float: right;
    font-size: 17px;
    margin-left: 15px;
}

::selection {
    /* Selection Hover */
    background: #9fffef;
}

/* Header area */

.masthead {
    height: 100%;
    margin-top: 50px;
    font-size: 75px;
    color: white;
    font-weight: 600;
}

/* "Chase Kuhn" Text */

h1.font-weight-light {
    font-size: 120px;
    font-family: 'Raleway', 'Segoe UI';
    animation: 0.5s ease-out 0s 1 slideIn;
    border-style: solid;
    border-color: white;
}

/* Name slide in */

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* "Web Developer" Text */

.lead {
    font-size: 2.4rem;
    font-weight: 600;
    font-family: 'Raleway', 'Segoe UI';
    animation: 1s ease-in 0s 1 fadeIn;
    margin-top: 30px;
    margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
    h1.font-weight-light {
        font-size: 70px;
    }
    .lead {
        font-size: 2rem;
    }
}

/* Fade-in animation */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        animation-delay: 4s;
        opacity: 100%;
    }
}

@keyframes fadeInIcons {
    0% {
        opacity: 0;
    }
    100% {
        animation-delay: 4s;
        opacity: 60%;
    }
}

/* ================================== Icons ================================== */

/* Github & Linkedin Icons */

.icons {
    width: 55px;
    height: 55px;
    opacity: 0.6;
    animation: 1s ease-in 0s 1 fadeInIcons;
}

/* Icon hover effect */

.icons:hover {
    opacity: 1;
    transition: 0.2s
}

/* Icons displayed inline & centered */

ul#horizontal li {
    display: inline;
    margin: center;
}

ul {
    padding-inline-start: 0;
}